<?xml version='1.0' encoding='utf-8'?>
<manifest android:hardwareAccelerated="true"
    package="com.anoah.youxueban.teacher"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <supports-screens android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />


    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_VIDEO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />


    <!--友盟权限-->
    <!-- 必须的权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 推荐的权限 -->
    <!-- 添加如下权限，以便使用更多的第三方SDK和更精准的统计数据 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application android:hardwareAccelerated="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name="com.anoah.youxueban.MyApplication">
        <activity android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale"
            android:launchMode="singleTop"
            android:name=".WelcomeActivity"
            android:theme="@style/AppThemeFull"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale"
            android:launchMode="singleTop"
            android:name=".CordDemoActitivy"
            android:theme="@style/AppThemeFull"
            android:windowSoftInputMode="adjustResize">
        </activity>


        <activity android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale"
            android:launchMode="singleTop"
            android:name="com.anoah.vlc.VlcActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize">

            <intent-filter>
                <action android:name="com.anoah.vlc" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale"
            android:launchMode="singleTop"
            android:name="com.anoah.librarycorrectwork.activity.CorrectPaintActivity"
            android:theme="@style/AppThemeFull"
            android:windowSoftInputMode="adjustResize">

            <intent-filter>
                <action android:name="com.anoah.correctwork" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale"
            android:launchMode="singleTop"
            android:name="com.anoah.zxing.CaptureActivity"
            android:theme="@style/AppThemeFull"
            android:windowSoftInputMode="adjustResize">

            <intent-filter>
                <action android:name="com.anoah.zxing" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale"
            android:launchMode="singleTop"
            android:name="com.anoah.clipimage.ClipImageActivity"
            android:theme="@style/AppThemeFull"
            android:windowSoftInputMode="adjustResize">

            <intent-filter>
                <action android:name="com.anoah.clipimage" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!--草稿纸需要的-->
        <activity android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale"
            android:launchMode="singleTop"
            android:name="com.anoah.common_component_scratch.ScratchActivity"
            android:theme="@style/Transparent1"
            android:windowSoftInputMode="adjustResize">

            <intent-filter>
                <action android:name="com.anoah.scratch" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <!--图片编辑需要的-->
        <activity android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale"
            android:launchMode="singleTop"
            android:name="com.anoah.common_component_compileimage.activity.CameraActivity"
            android:theme="@style/AppThemeFull"
            android:windowSoftInputMode="adjustResize">

            <intent-filter>
                <action android:name="com.anoah.takephoto" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale"
            android:launchMode="singleTop"
            android:name="com.anoah.common_component_compileimage.activity.BrowseImageActivity"
            android:theme="@style/ImageGalleryTheme" >
        </activity>

        <activity
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale"
            android:launchMode="singleTop"
            android:name="me.kareluo.imaging.IMGGalleryActivity"
            android:theme="@style/ImageGalleryTheme" >
            <intent-filter>
                <action android:name="com.anoah.choosephoto" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale"
            android:launchMode="singleTop"
            android:name="me.kareluo.imaging.IMGEditActivity"
            android:theme="@style/ImageEditTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />


        <provider android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            android:name="android.support.v4.content.FileProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>
